
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  /* Logo styling */
  .navbar-brand .logo {
    width: 155px;
    height: 110px;
  }
  
  /* Navbar List styling for desktop */
  .navbar-list {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  /* Navbar items */
  .navbar-list li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
    font: 1.4em sans-serif;
    font-weight: bold;
    color: #33334f;
  }
  
  /* Toggle button styling */
  .navbar-toggle {
    display: none;
    font-size: 24px;
    color: black;
    cursor: pointer;
    margin-right: 20px;
  }
  
  /* Links styling */
  a {
    text-decoration: none;
    color: #33334f;
  }
  
  /* Responsive styling for mobile devices */
  @media (max-width: 1125px) {
    .navbar-list {
      display: flex;
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 70%;
      background-color: hsl(0, 0%, 100%, .97);
      flex-direction: column;
      padding-top: 5px;
      margin-top: 0;
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
      z-index: 1000;
  
      
      transform: translateX(100%);
      transition: transform 0.4s ease-in-out;
    }
  
    .navbar-list.active {
      transform: translateX(0); 
    }
  
    .navbar-list li {
      text-align: left;
      width: 100%;
    }
  
    .navbar-toggle {
      display: block;
      margin-right: 20px;
    }
  
    .close-btn {
      font-size: 50px;
      cursor: pointer;
      padding: 10px;
      color: #3f4756;
      align-self: flex-end;
    }
  
    .navbar-brand .logo {
      width: 100px;
      height: 70px;
    }
  
    #h1-id {
      font-size: 3.5em;
    }
    
    #h2-id {
      font-size: 1.4em;
    }
  }
  
  /* Hide close button on desktop view */
  @media (min-width: 768px) {
    .navbar-list .close-btn {
      display: none;
    }
  
    hr {
      width: 60%;
    }
  }


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    
}

.main-content {
    background-color: #5DADE2;
    padding: 50px;
    border-radius: 50px;
    text-align: center;
    width: 50%;
}
.main-content h1 {
    color: #33334f;
    font-size: 36px;
    margin-bottom: 20px;
}
.login-form {
    background-color: #33334f;
    padding: 30px 20px 50px 20px;
    border-radius: 20px;
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}
.login-form label {
    display: block;
    color: #ffffff;
    margin-bottom: 5px;
    
}
.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
}
.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #3498DB;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}
.login-form a {
    color: #3498DB;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
}
.login-form a:hover {
    text-decoration: underline;
}
.login-form .forgot-password {
    float: left;
}
.login-form .register {
    float: right;
}

button{
    cursor: pointer;
}

@media (max-width: 480px) {
    .main-content {
        width: 90%;
        padding: 20px;
    }
}

.register-form {
    background-color: #33334f;
    padding: 30px 20px 50px 20px;
    border-radius: 20px;
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.register-form label {
    display: block;
    color: #ffffff;
    margin-bottom: 5px;
    
}
.register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
}
.register-form button {
    width: 100%;
    padding: 10px;
    background-color: #3498DB;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}
.register-form a {
    color: #3498DB;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
}
.register-form a:hover {
    text-decoration: underline;
}
.register-form .forgot-password {
    float: left;
}
.register-form .login {
    float: right;
}

