* {
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Logo styling */
.navbar-brand .logo {
  width: 155px;
  height: 110px;
}

/* Navbar List styling for desktop */
.navbar-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

/* Navbar items */
.navbar-list li {
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px;
  font: 1.4em sans-serif;
  font-weight: bold;
  color: #33334f;
}

/* Toggle button styling */
.navbar-toggle {
  display: none;
  font-size: 24px;
  color: black;
  cursor: pointer;
  margin-right: 20px;
}

/* Links styling */
a {
  text-decoration: none;
  color: #33334f;
}

/* Responsive styling for mobile devices */
@media (max-width: 1000px) {
  .navbar-list {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    background-color: hsl(0, 0%, 100%, .97);
    flex-direction: column;
    padding-top: 5px;
    margin-top: 0;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;

    
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
  }

  .navbar-list.active {
    transform: translateX(0); 
  }

  .navbar-list li {
    text-align: left;
    width: 100%;
  }

  .navbar-toggle {
    display: block;
    margin-right: 20px;
  }

  .close-btn {
    font-size: 50px;
    cursor: pointer;
    padding: 10px;
    color: #3f4756;
    align-self: flex-end;
  }

  .navbar-brand .logo {
    width: 100px;
    height: 70px;
  }

  #h1-id {
    font-size: 3.5em;
  }
  
  #h2-id {
    font-size: 1.4em;
  }
}

/* Hide close button on desktop view */
@media (min-width: 1000px) {
  .navbar-list .close-btn {
    display: none;
  }

  hr {
    width: 60%;
  }
}


@media (min-width: 1300px) {
  
  #landing-div-id{
    width: 40%;
    max-width: 40%;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-top: 3%;
    border-radius: 120px;
  }
}

@media (max-width: 768px) {
  #h1-id {
    font-size: 2.8em;
  }
  
  #h2-id {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  #route-buttons-id{
    font-size: 80%;
  }

  #dots-id{
    gap: 13px;
  }

  #dot1, #dot2{
    width: 15px;
    height: 15px;
  }
}


/* /////////       Landing page edit          ///////// */

.welcome {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4em;
  margin-bottom: auto;
  color: #33334f;
}

h2 {
  font-size: 1.5em;
  margin-top: 0;
  color: hsl(240, 22%, 25%, 0.8);
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 8vw;
  }
  h2 {
    font-size: 3vw;
  }
  
  .card-info{
    font-size: small;
  }
}

@media screen and (max-width: 589px) {
  #h1-id{
    font-size: 7vw;
  }

  #h2-id{
    font-size: 3vw;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  #h1-id{
    font-size: 7vw;
  }

  #h2-id{
    font-size: 3vw;
    text-align: center;
  }
}

@media screen and (max-width: 430px) {
  #linija-search-id, #stanica-search-id{
    height: 3em;
    width: 3em;
    border-radius: 20px;
  }

  #stanica-search-id, #linija-search-id{
    padding-bottom: 8px;
  }

  #busIcon-black-id{
    width: 25px;
    height: 25px;
  }

  #bus-stopcom-id{
    width: 27px;
    height: 27px;
  }

  #text-search-id-2{
    font-size: small;
    
  }
  #text-search-id{
    font-size: small;
  }
}

.landing-div{
  background-color: hsl(203, 74%, 53%, 81%);
  height: max-content;
  border-radius: 70px;
  
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.main-search{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20%;
}


.linija-search {
  background-color: #fff;
  border-radius: 25px;
  height: 4em;
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin-top: 40px;
  cursor: pointer;
  font-weight: bold;
  color: #33334f;
}

@media (hover: hover) {
  .linija-search:hover, .stanica-search:hover {
    background-color: hsl(240, 22%, 25%, 84%);
    color: white;
  }
}

.linija-search.clicked{
  transition: background-color 0.3s;
  background-color: hsl(240, 22%, 25%, 84%);
  color: white;
}


.stanica-search {
  background-color: #fff;
  border-radius: 25px;
  height: 4em;
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin-top: 40px;
  cursor: pointer;
  color: #33334f;
  font-weight: bold;
}

.busIcon-black{
  width: 30px;
  height: 30px;
  margin-top: 5px;
}

.bus-stopcom {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}

.text-search{
  margin-top: 5px;
}


.routes{
  display: none;
}

.routes-visible {
  transition: opacity 0.5s ease;
}

.route-buttons{
  display: flex; 
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  row-gap: 10px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.r-buttons{
  background-color: hsl(240, 22%, 25%, 84%);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  margin-left: 0;
  margin-right: 0;
  width: 49%;
  font-size: 95%;
  border: none;
  font-weight:bold;
  cursor: pointer;
}

.r-buttons:hover{
  background-color: #fff;
  color: #000;
}

#bottom_hr {
  margin-top: 50px;
  border: none; 
  border-top: 2px dashed #33334f; 
  width: 80%; 
  display: none;
}

.choose-div{
  margin-top: 9%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 65%;
  width: 65%;
  justify-content: center;
  gap: 50px;
}

select {
  background-color: hsl(240, 22%, 25%, 84%);
  color: white;
  padding: 8px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

select:hover{
  cursor: pointer;
  background-color:#3f4756;
}

.main-card{
  display: none;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: #33334f;
  font-weight: bold;
  margin-top: 5%;
  flex-direction: column;
  
}


.card-info{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 10px 15px 10px 25px;
  border-radius: 25px;
  margin-top: 30px;
  align-items: center;
  justify-content:center ;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.card-info-first-part{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content:center ;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.dots{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info-hr{
  height: 35px;
  margin-top: -15px;
  margin-bottom: -15px;
  width: 1px;
  border: none;
  background-color: hsl(240, 22%, 25%, 84%);
}

.r-buttons-card{
  background-color: #33334f;
  color: #fff;
  border: none;
  border-radius: 15px;
  width: 60px;
  padding: 10px;
  font-weight: bold;
  
}

.r-buttons-card:hover{
  cursor: pointer;
  font-size: medium;
}

.r-button-class{
  margin-left: 20px;
}

.dot {
  height: 17px;
  width: 17px;
  background-color: #33334f;
  border-radius: 50%;

}

.time-info{
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.stanica-info{
  display: flex;
  flex-direction: column;
  font-weight: bold;

}

.arrow-logo{
  height: 20px;
  width: 20px;
  margin-left: -5px;
  padding: 2px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 0.5s linear;
}


.arrow-logo-up{
  height: 20px;
  width: 20px;
  margin-left: -5px;
  padding: 2px;
  cursor: pointer;
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}


#stationsContainer{
  transform-origin: top;
}

.slide-in {
  animation: slide-in 0.5s ease-in forwards;
  -webkit-animation: slide-in 0.5s ease-in forwards;
}

.slide-out {
  animation: slide-out 0.5s ease-out forwards;
  -webkit-animation: slide-out 0.5s ease-out forwards;
}

@keyframes slide-in {
  0% { transform: translateY(100%); }
  100% { transform: translateY(0%); }
}

@-webkit-keyframes slide-in {
  0% { -webkit-transform: translateY(100%); }
  100% { -webkit-transform: translateY(0%); }
}
  
@keyframes slide-out {
  0% { transform: translateY(50%); }
  100% { transform: translateY(0); }
}

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translateY(50%); }
  100% { -webkit-transform: translateY(0%); }
}

.bus {
  width: 95%; 
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center; 
  background-color: #d3eae7;
  padding: 10px;
  border-radius: 15px;
  margin: 10px 0; 
  margin-left: auto;
  margin-right: 10px;
  font-size: small;
 justify-content: flex-start;
}

.bus-none{
  display: none;
  transition: 2s ease-out;
}

@media screen and (max-width: 769px) {
  .bus {
    gap: 8px;
    padding: 8px;
    font-size: 0.9em; /* Slightly reduce font size on smaller screens */
  }

  .bus_icon {
    width: 20px;
    height: 20px;
  }

  .arrow_div {
    font-size: large;
  }

  .time_div,
  .arrv_station {
    flex: 1; 
    text-align: center; 
  }

  #station_id{
    max-width: 80%;
    gap: 70px;
  }
 
}


@media screen and (max-width: 769px) {
  .bus{
    gap: 10px;
    font-size: 11.5px;
  }

  .bus_icon{
    width: 5px;
    height: 5px;
  }
  .arrow_div{
    font-size:xx-small;
  }

  #main_id {
    max-width: 95%;
  }
}

.bus_icon{
  width: 30px;
  height: 30px;
  padding-top: 7px;
  
}

.img_div{
  display: inline;
}

.time_div {
  display: inline;
  margin-top: 2%;
}

.arrv_station {
  display: inline;
  margin-top: 2%;
}

.arrow_div{
  display: inline;
  font-size: xx-large;
  padding-top: 2px;
}

#cart-img{
  cursor: pointer;
}