* {
  font-family: Arial, Helvetica, sans-serif;
}


/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Logo styling */
.navbar-brand .logo {
  width: 155px;
  height: 110px;
}


.list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.list li {
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px;
  font: 1.4em sans-serif;
  font-weight: bold;
  color: #33334f;
}

.navbar-toggle {
  display: none;
  font-size: 24px;
  color: black;
  cursor: pointer;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #33334f;
}

/* Responsive styling */
@media (max-width: 1125px) {
  .navbar-list {
    display: none;
    position: fixed;
    top: -2%;
    right: 0;
    height: 100%;
    width: 60%;
    background-color: white;
    flex-direction: column;
    /*align-items: flex-start;*/
    padding-top: 10px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }

  .navbar-list li {
    text-align: left;
    width: 100%;
  }

  .navbar-toggle {
    display: block;
    margin-right: 20px;
  }

  .close-btn {
    width: 20%;
    font-size: 50px;
    cursor: pointer;
    padding: 10px;
    color: #3f4756;
  }

  .navbar-brand .logo {
    width: 100px;
    height: 70px;
  }

  #h1-id {
    font-size: 3.5em;
  }
  
  #h2-id {
    font-size: 1.4em;
  }

}

/* Hide close button on desktop view */
@media (min-width: 768px) {
  .navbar-list .close-btn {
    display: none;
  }

  hr {
    width: 60%;
  }
}

@media (min-width: 1300px) {
  
  #landing-div-id{
    width: 40%;
    max-width: 40%;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-top: 3%;
    border-radius: 120px;
  }
}

@media (max-width: 768px) {
  #h1-id {
    font-size: 2.8em;
  }
  
  #h2-id {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  #route-buttons-id{
    font-size: 80%;
  }
}

/* Show menu when toggle is active */
.navbar-list.active {
  display: flex;
}


/* /////////       Landing page edit          ///////// */

.welcome {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4em;
  margin-bottom: auto;
  color: #33334f;
}

h2 {
  font-size: 1.5em;
  margin-top: 0;
  color: hsl(240, 22%, 25%, 0.8);
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 8vw;
  }
  h2 {
    font-size: 3vw;
  }
 
}


.landing-div{
  background-color: hsl(203, 74%, 53%, 81%);
  height: max-content;
  border-radius: 70px;
  width: 90%;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.main-search{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20%;
}


.linija-search {
  background-color: #fff;
  border-radius: 25px;
  height: 4em;
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin-top: 40px;
  cursor: pointer;
  font-weight: bold;
  color: #33334f;
}

.linija-search:hover, .stanica-search:hover{
  transition: background-color 0.3s;
  background-color: hsl(240, 22%, 25%, 84%);
  color: white;
}

.linija-search.clicked{
  transition: background-color 0.3s;
  background-color: hsl(240, 22%, 25%, 84%);
  color: white;
}


.stanica-search {
  background-color: #fff;
  border-radius: 25px;
  height: 4em;
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin-top: 40px;
  cursor: pointer;
  color: #33334f;
  font-weight: bold;
}

.busIcon-black{
  width: 30px;
  height: 30px;
  margin-top: 5px;
}

.bus-stopcom {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}

.text-search{
  margin-top: 5px;
}


.routes{
  display: none;
}

.routes-visible{
  transition: opacity 0.5s ease;
}

.route-buttons{
  display: flex; 
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  row-gap: 10px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.r-buttons{
  background-color: hsl(240, 22%, 25%, 84%);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  margin-left: 0;
  margin-right: 0;
  width: 49%;
  font-size: 95%;
  border: none;
  font-weight:bold;
}

#bottom_hr {
  margin-top: 50px;
  border: none; 
  border-top: 2px dashed #33334f; 
  width: 80%; 
  display: none;
}

.choose_div{
  margin-top: 9%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 65%;
  width: 65%;
  justify-content: center;
  gap: 50px;
}

select {
  background-color: hsl(240, 22%, 25%, 84%);
  color: white;
  padding: 8px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

select:hover{
  cursor: pointer;
  background-color:#3f4756;
}

.main-card{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: #33334f;
  font-weight: bold;
  margin-top: 5%;
}

.card-info{
  background-color: #fff;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px 15px 10px 25px;
  border-radius: 25px;
  margin-top: 30px;
  align-items: center;
  justify-content:center ;
  width: fit-content;
}

.dots{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info-hr{
  height: 35px;
  margin-top: -15px;
  margin-bottom: -15px;
  width: 1px;
  border: none;
  background-color: hsl(240, 22%, 25%, 84%);
}

.r-buttons-card{
  background-color: #33334f;
  color: #fff;
  border: none;
  border-radius: 15px;
  width: 60px;
  padding: 10px;
  font-weight: bold;
  margin-left: 50px;
}

.dot {
  height: 17px;
  width: 17px;
  background-color: #33334f;
  border-radius: 50%;

}

.time-info{
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.stanica-info{
  display: flex;
  flex-direction: column;
  font-weight: bold;

}

/* After linija click */

.linija_content {
  max-width: 60%;
  margin: auto;
  background-color:#d3eae7;
  height: 500px;
  border-radius: 30px;
}

.linija_div{
  border: 2px solid red;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

}

.span_and_hr{
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  display: flex;
  padding-top: 15px;
}

#line_hr{
  margin-top: 21px;
  width: 90%;
  margin-left: 5px;
  margin-right: 5px;
}



@media screen and (max-width: 769px){
  .dot{
    height: 17px;
    width: 17px;
    
  }

  #line_hr {
    margin-top: 18px;
    height: 2px;
    width: 78%;
  }


  .ime_stanice, .ime_stanice2 {
    font-size: x-small;
  }

}

@media screen and (min-width: 768px) {
  .ime_stanice {
    margin-left: -5px;
  }

  .ime_stanice2 {
    margin-right: 5px;
  }
}

@media screen and (max-width: 768px) {
  .ime_stanice {
    margin-left: -15px;
  }

  .ime_stanice2 {
    margin-right: -15px;
  }
  
}

.stations_div {
  margin-left: auto;
  margin-right: auto;
  max-width: 65%;
  width: 100%;
  display: flex;
  width: 100%;
  justify-content: space-between;

}

.linija_busInfo {
  max-width: 100%;
  margin: auto;
  background-color: #2c8680;
  height: fit-content;
  max-height: min-content;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.bus {
  width: 100%; 
  max-width: 600px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center; 
  background-color: #d3eae7;
  padding: 10px;
  border-radius: 15px;
  margin: 10px 0; 
  box-sizing: border-box; 
  
}

@media screen and (max-width: 769px) {
  .bus {
    gap: 8px;
    padding: 8px;
    font-size: 0.9em; /* Slightly reduce font size on smaller screens */
  }

  .bus_icon {
    width: 20px;
    height: 20px;
  }

  .arrow_div {
    font-size: large;
  }

  .time_div,
  .arrv_station {
    flex: 1; /* Allow time and station name to take up more space */
    text-align: center; /* Center text */
  }

  #station_id{
    max-width: 80%;
    gap: 70px;
  }
 
}

/*.bus:hover, #add_css:hover{
  cursor: pointer;
  background-color:#2771b8;
  
}*/

#add_css{
  margin-bottom: 0;
  margin-top: 30px;
}

@media screen and (max-width: 769px) {
  .bus{
    gap: 10px;
    font-size: 11.5px;
  }

  .bus_icon{
    width: 5px;
    height: 5px;
  }
  .arrow_div{
    font-size:xx-small;
  }

  #main_id {
    max-width: 95%;
  }
}

.bus_icon{
  width: 30px;
  height: 30px;
  padding-top: 7px;
  
}

.img_div{
  display: inline;
  
}

.time_div {
  display: inline;
  margin-top: 2%;
}

.arrv_station {
  display: inline;
  margin-top: 2%;
}

.arrow_div{
  display: inline;
  font-size: xx-large;
 
  padding-top: 2px;
}


/*
.gMap{
  display: flex;
  width: 80%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  padding-bottom: 20px;
}*/


.main_bus{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

/* NOt yet */

#linija_button, #n1, #n2, #n3, #n4, #n5, #n6, #n7, #n8, #n8, #n9,
#n10, #n11, #n12, #n13, #n14, #n15, #n16, #n17, #n18, #n19, #n20, #n21,
#n22, #n23, #n24, #n25, #scroll_id {
  background-color: grey;
  cursor:default;
}

